@model IEnumerable<BulletinBoard.Models.Announcements>

@{
    ViewData["Title"] = "LastTenAnnouncements";
}

<h1>Latest announcements</h1>

<table class="table">
    <thead>
        <tr>
            <th class = "col-sm-10">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 <a asp-action="Details" asp-route-id="@item.Id">
                     @Html.DisplayFor(modelItem => item.Title)
                 </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
        </tr>
}
    </tbody>
</table>
